<a href="https://colab.research.google.com/github/ermilovim/NewDjango/blob/master/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Занятие №1. Первые программы на Python

![alt text](https://drive.google.com/uc?export=view&id=1M05oSpwlZyh1-F-6E6P_PSmmLHUG6F0-)

Уважаемые слушатели, на первом уроке мы с вами познакомимся с синтаксисом, типами данных и основными конструкциями языка Python.

# Простейшие операции, типы данных, вывод на экран

In [ ]:
# Сложим два числа
2 + 2

In [ ]:
# Умножим два числа
2 * 3

In [ ]:
# Проверим операцию со скобками
3*(2 + 7)

In [ ]:
# Проверим еще и деление
32*(4 + 8)/10

In [ ]:
# А теперь поделим на 0!
32/0

In [ ]:
# Возведем число в степень
2**3

In [ ]:
# Команда для вывода на экран
print(2 * 2)
# Стоп! Раньше тоже происходил вывод на экран... 
# Результат последней строки каждого абзаца автоматически выводится на экран

До сего момента мы работали только с числами. Для работы с текстом широко используется тип данных str (string)

In [3]:
text = 'I like Data Science!'

In [ ]:
text

In [ ]:
type(text)

In [4]:
# Со строками тоже можно проводить "арифметические" операции!
print(text * 3)
print(text + " Data Science like me too!")

I like Data Science!I like Data Science!I like Data Science!
I like Data Science! Data Science like me too!

In [5]:
# Не все операции можно проводить со строками...
text**2

TypeError: ignored

In [6]:
text - "foo"

TypeError: ignored

In [ ]:
# Так тоже нельзя. Нужно следить за типом данных!
"5" + 2

In [ ]:
# К символам допускается обращение как к элементам массива
text[2]

In [ ]:
# Обратная нумерация элементов - очень удобная вещь!
text[-3]

In [11]:
# Также, можно делать срезы строк
print(text[3:])
print(text[7:11])
print(text[::3])

ike Data Science!
Data
Ii tSee

**Цикл for** - наиболее часто используемая конструкция в Python.

# Работа со